.masthead {
    height: 100vh;
    min-height: 500px;
    /* background-image: url('./background.jpg'); */
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav>li {
    display: inline-block;
    float: none;
}

.row {
    margin-top: 2%;
    padding: 1%;
}

.first-row {
    margin-top: 0%;
    padding: 0%;
}

.card {
    margin-top: 3%;
    background-color: rgb(20, 20, 20);
    color: white;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: white;
}